.btn {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 38, 255, 0.863);
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 60px;
  transition-duration: 0.3s;
}
.btn:hover {
  padding: 8px;
  bottom: 7px;
  right: 7px;
  background-color: blue;
  transition-duration: 0.3s;
  cursor: pointer;
}

.chat {
  width: 30%;
  height: 70%;
  background: rgb(185, 185, 185);
  position: absolute;
  bottom: 7px;
  right: 7px;
  border-radius: 15px;
  display: none;
  padding: 0;
  /* border: 1px solid rgb(92, 92, 92); */
}

.chat-header {
  width: 100%;
  height: 10%;
  background: red;
  margin: 0;
  border-radius: 14px 14px 0 0;
}
.btn-x {
  position: absolute;
  top: 8px;
  right: 18px;
  color: rgba(255, 255, 255, 0.74);
  font-weight: bolder;
  cursor: pointer;
  transition-duration: 0.3s;
  font-size: 20px;
}
.btn-x:hover {
  color: white;
  transition-duration: 0.3s;
}
.chat-view {
  width: 98%;
  height: 70%;
  margin: 0 auto;
  margin-top: 5px;
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
}
.text-buttom {
  width: 98%;
  height: 10%;
  margin: 0 auto;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.719);
  border-radius: 10px;
}
.text-buttom textarea {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  resize: none;
  border: none;
  border-radius: 10px;
  direction: rtl;
  background: white;
  padding: 0px 5px;
}

.text-buttom textarea:focus {
  background-color: rgba(196, 196, 196, 0.61);
}
.footer {
  width: 98%;
  height: 6%;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 10px;
}
.right {
  width: 50%;
  height: 100%;
  float: right;
  color: black;
  border-bottom-right-radius: 10px;
  text-align: right;
}
.left {
  width: 50%;
  height: 100%;
  float: left;
  color: black;
  border-bottom-left-radius: 10px;
}
.btn-footer {
  width: 100%;
  height: 100%;
  background-color: rgb(131, 131, 131);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn-footer:hover {
  background: rgba(235, 235, 235, 0.863);
}
.power-r {
  cursor: pointer;
  font-size: 16px;
  margin-top: 4px;
}
.scroll-view {
  overflow-x: hidden;
  overflow-y: scroll;
}
.message-out {
  width: 90%;
  min-height: 40px;
  float: right;
}
.message-out2 {
  margin: 8px;
  padding: 8px;
  float: right;
  background: green;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 0;
}
.message-out2:after {
  content: "";
  background: green;
  width: 8px;
  height: 8px;
  position: absolute;
  transform: rotate(45deg);
  right: 34px;
  top: 79px;
}

.message-in {
  width: 90%;
  min-height: 40px;
  float: left;
}
.message-in2 {
  margin: 8px;
  padding: 8px;
  float: left;
  background: red;
  direction: ltr;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 0;
}
.message-in2:before {
  content: "";
  background: red;
  width: 8px;
  height: 8px;
  position: relative;
  transform: rotate(45deg);
  left: -10px;
  top: 5px;
  float: left;
}
